<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabbir.firebase_3_modifying_for_lab" >


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Firebase 3 students"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.sabbir.firebase_3_modifying_for_lab.MainActivity"
            android:label="Students Data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ForAllStudents"
                  android:label="All Students"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ForMasters"
                  android:label="Masters"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ForFirstYear"
                  android:label="First Year"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ForSecondYear"
                  android:label="Second Year"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ForThirdYear"
                  android:label="Third Year"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ForFourthYear"
                  android:label="Fourth Year"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>